extends ./layout

block body
  p
    | This is coming from the 
    code views/hello.pug
    | file
  h1 Hello, #{name}!

  if inseam
    if inseam <= 26
      p How is the weather down there?
    else if inseam >= 34 && inseam < 36
      p Wow, you are tall!
    else if inseam >= 36
      p Wow, you are SUPER tall!
    else 
      p And I understand your inseam is #{inseam} inches.
