extends ./layout

block body
    h1 Hello world!
    p This is coming from the #[code views/index.pug] file
    
    form(method="POST")
        div.form-group
            label(for="text_field") Text field:
            input.form-control(type="text" name="text_field" value="starting value")
        div.form-group
            label(for="password") Password:
            input.form-control(type="password" name="password")
        div.form-group
            label(for="number") Number field:
            input.form-control(type="number" name="number")
        button.btn.btn-primary(type="submit") Submit!
