extends ./layout

block body
  h1 Hello world!
  p This is coming from the <code>views/index.pug</code> file

  form.form-inline(method="POST" action="/my-form")
    .form-group
      input.form-control(type="text" name="input")
    button.btn.btn-primary(type="submit") Submit
