//- views/index.pug
html
    head
        title Hello #{name}!

    body
        h1 Hello #{name}!
        h2= name
        p This is coming from the #[code views/index.pug] file

        form(action="/name-form" method="POST")
            input(type='text' name='name')
            input(type='submit' value='submit')