doctype html
html
  head
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script
      | System.import('app');
    title Hello world!
  body(style="display: none")
    div.container
      .page-header
        block header
          p Header
      if flash_message
        p= flash_message
      block body
