//- views/index.pug
html
    head
        title Hello world!

    body
        h1 Hello #{name}!
        p= name.toUpperCase() + "!"
        if lastName
            p Last name is #{lastName}.
        else
            p You have no name.
        p This is coming from the #[code views/name.pug] file