extends ../layout

block body
    h1 Tasks!
    
    ul
        each task in tasks
            li
                a(href="/tasks/" + task.id)= task.name
        

    if createError
        p Don't do that.
    form(action="/tasks" method="POST")
        label(for="name") Name 
        input(type="text" name="name")
        br
        button(type="submit") Add task
